[Unit]
Description=Time_Sync

[Service]
User=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
Type=simple
WorkingDirectory=/opt/radio_reloj/
ExecStart=/usr/bin/python3.6 /opt/radio_reloj/time_sync_ntp.py
Restart=always

[Install]
WantedBy=multi-user.target
