[Unit]
Description=Clock_Ticks

[Service]
User=pi
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50
Type=simple
WorkingDirectory=/opt/radio_reloj/
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/python3.7 /opt/radio_reloj/clock_ticks.py
#Restart=always

[Install]
WantedBy=multi-user.target
