[Unit]
Description=Telegraphic

[Service]
User=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50
Type=simple
WorkingDirectory=/opt/radio_reloj/
ExecStart=/usr/bin/python3.6 /opt/radio_reloj/telegraphic.py
#Restart=always

[Install]
WantedBy=multi-user.target