[Unit]
Description=Time Sync

[Service]
User=root
Type=simple
WorkingDirectory=/opt/radio_reloj/
ExecStart=/usr/bin/python3.7 /opt/radio_reloj/time_sync_ntp.py
#Restart=always

[Install]
WantedBy=multi-user.target
